In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer
import numpy as np

df = pd.read_csv("iris_unpro.csv")

target_col = 'class'

print("Class balance:\n", df['flower_species'].value_counts())

def get_class(x):
    if x == "Iris-setosa":
        return 'setosa'
    else:
        return 'not_setosa'

df[target_col] = df['flower_species'].apply(get_class)

feature_names = [col for col in df.columns if col != target_col]

#df = remove_missing_values(df)

possible_outcomes = list(df[target_col].unique())
print("Possible outcomes:", possible_outcomes)

#numerical_cols, categorical_cols, columns_type = get_columns_type(df)


#for column in data.columns:
#    data[column].replace(' ?', None, inplace=True)
pro_data = df.dropna()
pro_data = pro_data.drop('flower_species', axis=1)

non_num_cols = [column for column in pro_data.drop([target_col], axis = 1).columns if pro_data[column].dtypes == "O"]
num_cols = [column for column in pro_data.drop([target_col], axis = 1).columns if column not in non_num_cols]

num_data = pro_data[num_cols]
cat_data = pro_data[non_num_cols]
#pro_data.to_csv("car_price.csv", index = False)

Class balance:
 Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: flower_species, dtype: int64
Possible outcomes: ['setosa', 'not_setosa']

In [2]:
pro_data

     sepal_length  sepal_width  petal_length  petal_width       class
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3  not_setosa
146           6.3          2.5           5.0          1.9  not_setosa
147           6.5          3.0           5.2          2.0  not_setosa
148           6.2          3.4           5.4          2.3  not_setosa
149           5.9          3.0           5.1          1.8  not_setosa

[150 rows x 5 columns]

In [3]:
binarizer = LabelBinarizer()
target_data = binarizer.fit_transform(pro_data[target_col])
target_data = target_data.reshape(1, -1)[0]
pro_data['class'] = target_data

In [4]:
pro_data

     sepal_length  sepal_width  petal_length  petal_width  class
0             5.1          3.5           1.4          0.2      1
1             4.9          3.0           1.4          0.2      1
2             4.7          3.2           1.3          0.2      1
3             4.6          3.1           1.5          0.2      1
4             5.0          3.6           1.4          0.2      1
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      0
146           6.3          2.5           5.0          1.9      0
147           6.5          3.0           5.2          2.0      0
148           6.2          3.4           5.4          2.3      0
149           5.9          3.0           5.1          1.8      0

[150 rows x 5 columns]

In [5]:
pro_data.to_csv("iris.csv", index = False)

In [6]:
num_cols = pro_data.columns.drop('class')
one_hot_cols = None

col_dict = {"continuous": list(num_cols), "discrete": one_hot_cols}

import json

form = json.dumps(col_dict)
f = open("col_dict.json", "w")
f.write(form)
f.close()

with open('col_dict.json') as file:
    col_dict = json.load(file)
file.close()
col_dict

{'continuous': ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'],
 'discrete': None}