In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

import warnings
warnings.filterwarnings("ignore")

data = pd.read_csv("student-por.csv", sep = ";")
pro_data = data.dropna()

non_num_cols = [column for column in pro_data.columns if pro_data[column].dtypes == "O"]
num_cols = [column for column in pro_data.columns if column not in non_num_cols]

num_data = pro_data[num_cols]
cat_data = pro_data[non_num_cols]

In [2]:
cat_data

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,no,no,yes,yes,yes,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,no,yes,yes,yes,yes,yes
4,GP,F,U,GT3,T,other,other,home,father,no,yes,no,no,yes,yes,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,R,GT3,T,services,other,course,mother,no,no,no,yes,no,yes,yes,no
645,MS,F,U,LE3,T,teacher,services,course,mother,no,yes,no,no,yes,yes,yes,no
646,MS,F,U,GT3,T,other,other,course,mother,no,no,no,yes,yes,yes,no,no
647,MS,M,U,LE3,T,services,services,course,mother,no,no,no,no,no,yes,yes,no
648,MS,M,R,LE3,T,services,other,course,mother,no,no,no,no,no,yes,yes,no

In [3]:
encoder = OneHotEncoder(sparse = True)
enc_data = encoder.fit_transform(cat_data)
enc_df = pd.DataFrame.sparse.from_spmatrix(enc_data, columns = encoder.get_feature_names(non_num_cols))

In [4]:
fin_data = pd.concat([num_data.reset_index(), enc_df.reset_index()], axis = 1, join = 'inner').drop(['index'], axis = 1)
fin_data.to_csv("student_scores.csv", index = False)

In [5]:
fin_data.columns

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'G3', 'school_GP', 'school_MS', 'sex_F', 'sex_M', 'address_R',
       'address_U', 'famsize_GT3', 'famsize_LE3', 'Pstatus_A', 'Pstatus_T',
       'Mjob_at_home', 'Mjob_health', 'Mjob_other', 'Mjob_services',
       'Mjob_teacher', 'Fjob_at_home', 'Fjob_health', 'Fjob_other',
       'Fjob_services', 'Fjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other', 'schoolsup_no', 'schoolsup_yes',
       'famsup_no', 'famsup_yes', 'paid_no', 'paid_yes', 'activities_no',
       'activities_yes', 'nursery_no', 'nursery_yes', 'higher_no',
       'higher_yes', 'internet_no', 'internet_yes', 'romantic_no',
       'romantic_yes'],
      dtype='object')

In [6]:
import json

num_cols = [col for col in num_cols if col != "G3"]
one_hot_cols = list(enc_df.columns)

col_dict = {"continuous": num_cols, "discrete": one_hot_cols}

form = json.dumps(col_dict)
f = open("col_dict.json", "w")
f.write(form)
f.close()

In [7]:
fin_data.shape

(649, 59)

In [8]:
with open('col_dict.json') as file:
    col_dict = json.load(file)
file.close()
col_dict

{'continuous': ['age',
  'Medu',
  'Fedu',
  'traveltime',
  'studytime',
  'failures',
  'famrel',
  'freetime',
  'goout',
  'Dalc',
  'Walc',
  'health',
  'absences',
  'G1',
  'G2'],
 'discrete': ['school_GP',
  'school_MS',
  'sex_F',
  'sex_M',
  'address_R',
  'address_U',
  'famsize_GT3',
  'famsize_LE3',
  'Pstatus_A',
  'Pstatus_T',
  'Mjob_at_home',
  'Mjob_health',
  'Mjob_other',
  'Mjob_services',
  'Mjob_teacher',
  'Fjob_at_home',
  'Fjob_health',
  'Fjob_other',
  'Fjob_services',
  'Fjob_teacher',
  'reason_course',
  'reason_home',
  'reason_other',
  'reason_reputation',
  'guardian_father',
  'guardian_mother',
  'guardian_other',
  'schoolsup_no',
  'schoolsup_yes',
  'famsup_no',
  'famsup_yes',
  'paid_no',
  'paid_yes',
  'activities_no',
  'activities_yes',
  'nursery_no',
  'nursery_yes',
  'higher_no',
  'higher_yes',
  'internet_no',
  'internet_yes',
  'romantic_no',
  'romantic_yes']}